body{
    font-family: 'DM Sans', sans-serif;
    // font-size: normal;
    font-weight: normal;
    font-style: normal;
    width: 90%;
    margin: auto;
    position: relative;
}

a{
    text-decoration: none;
}