.lightbox{
    display: none;
}

.lightbox-modal {
    position: fixed;
    z-index: 999;
    color: $colour-primary-red;
    left: 50%;
    top: 10%;
    transform: translate(-50%);
    max-width: calc(100vw - 20px);
    height: 450px;    
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    @include medium{
        width: 80%;    
    }
    & .nav-left, .nav-right{
        font-size: 42px;
        display: flex;
        align-items: center;
        margin: 30px;
        @include small{
            margin: 10px;
            font-size: 23px;   
        }
    }
    & .lightbox-content{
        display: flex;
        align-items: center;
    }
    & .media-caption{
        text-align: center;
        font-size: 14px;
    }
    background-color: white;
}

.lightbox-mask{
    position: fixed;
    z-index: 998;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.8);
}

.lightbox-media{
    display: none;
    &.active{
        display: block;
    }
    & .media-content{
        width: 500px;
        height: 350px;
        border-radius: 10px;
        object-fit: contain;
        @include medium{
            width: 100%;    
        }
    }
}

.lightbox-close-btn {
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    right: 20px;
    width: 45px;
    height: 45px;
    opacity: 1;
    cursor: pointer;
    transform: scale(0.7);
    @include small{
        right: -3px;
    }
    &::before, &::after{
        position: absolute;
        left: 15px;
        content: " ";
        height: 46px;
        width: 5px;
        background-color:$colour-primary-red;
        @include small{
            height: 40px;
            width: 4px;
        }
    }
    &::before{
        transform: rotate(45deg);
    }
    &::after{
        transform: rotate(-45deg);
    }
}