// Variables

// Couleurs

$colour-primary-red: #901C1C;
$colour-primary-darkcoral: #D3573C;

$colour-secondary-coral: #DB8876;
$colour-secondary-lightgrey: #FAFAFA;
$colour-secondary-grey: #525252;

// Marges

$margin-top-hero: 5px;
$margin-top-hero-tagbox: 10px;
$margin-bottom-info: 15px;

